@import './var.less';

html,
body,
#app {
  .size(100%, 100%);

  margin: 0;
  padding: 0;
  color: @font-color-strong;
  font-size: 14px;
  font-family: @tsl-code-font-family;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
legend,
input,
button,
select,
textarea,
th,
td,
pre {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}

ul,
ol {
  margin-bottom: 0 !important;
  list-style: none;
}

a[role='button'] {
  color: #5e66f2;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #3a3dc9;
  }

  &[disabled='true'],
  &[disabled='disabled'] {
    color: #c9cdd4;
    cursor: not-allowed;
  }
}

.ori-input .ori-input__inner {
  padding-bottom: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c9cdd4;
  border-radius: 4px;
}
