@font-color-strong: #1d2129;
@font-color-regular: #4e5969;
@font-color-sub: #86909c;
@tsl-blue: #5e66f2;
@tsl-purple: #8080ff;
@tsl-fuchsia: #a7419e;
@tsl-green: #4fc08d;
@tsl-text-color: #34495e;
@tsl-background-color: #f7f8fa;
@tsl-border-color: #f1f4f8;
@tsl-code-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

@layout-sider-defalut-width: 224px;
@layout-header-default-height: 48px;
@base-bg-default-color: #fff;

@tsl-theme-color1: var(--tslThemeBgColor1, @base-bg-default-color);
@tsl-theme-color2: var(--tslThemeBgColor2, @tsl-background-color);
@tsl-theme-text-color: var(--tslThemeTextColor, @tsl-text-color);
@tsl-theme-border-color: var(--tslThemeBorderColor, @tsl-border-color);

.size(@width, @height) {
  width: @width;
  height: @height;
}

.cont-padding-right {
  padding-right: 18px;
}

.mr-rt-8 {
  margin-right: 8px;
}

.mr-rt-16 {
  margin-right: 16px;
}

.mr-lt-8 {
  margin-left: 8px;
}

.mr-lt-16 {
  margin-left: 16px;
}

.mr-bt-16 {
  margin-bottom: 16px;
}

.pd-20 {
  padding: 20px;
}

.flex-ac {
  display: flex;
  align-items: center;
}

.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-js {
  display: flex;
  justify-content: space-between;
}

.flex-js-as {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-b-c-n {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cursor-p {
  cursor: pointer;
}

.base-box {
  background: #fff;
  border-radius: 4px;
}

.block__animation {
  animation-name: showBlockAnimate;
  animation-duration: 0.5s;
}

@keyframes showBlockAnimate {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  60% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.transform-icon {
  transform: rotate(180deg);
}

.filter-item {
  margin-right: 8px;
  margin-bottom: 16px;

  .ori-select {
    width: 180px;
  }
}
