@font-color-strong: #1d2129;
@font-color-regular: #4e5969;
@font-color-sub: #86909c;
@tsl-blue: #5e66f2;
@tsl-purple: #8080ff;
@tsl-fuchsia: #a7419e;
@tsl-green: #4fc08d;
@tsl-text-color: #34495e;
@tsl-background-color: #f7f8fa;
@tsl-border-color: #f1f4f8;
@tsl-code-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

@layout-sider-default-width: 224px;
@layout-header-default-height: 48px;
@base-bg-default-color: #fff;

@tsl-theme-color1: var(--tslThemeBgColor1, @base-bg-default-color);
@tsl-theme-color2: var(--tslThemeBgColor2, @tsl-background-color);
@tsl-theme-text-color: var(--tslThemeTextColor, @tsl-text-color);
@tsl-theme-border-color: var(--tslThemeBorderColor, @tsl-border-color);

.size(@width, @height) {
  width: @width;
  height: @height;
}
